*{
    list-style-type: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Muli",sans-serif;
}

html,body{
    scroll-behavior: smooth;
    @include small-screen{
        overflow-x: hidden;
        height: 100%;
    }
}

body{
    background: linear-gradient(white,$purple);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}