@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;800;1000&display=swap");
* {
  list-style-type: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

html, body {
  scroll-behavior: smooth;
}
@media screen and (max-width: 500px) {
  html, body {
    overflow-x: hidden;
    height: 100%;
  }
}

body {
  background: linear-gradient(white, #9C69E2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.btn2, .footer__nav__div2__more, .section__div1__btn {
  width: 170px;
  height: 60px;
  border-radius: 50px;
  font-weight: bold;
  background-color: #9C69E2;
  color: white;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
}
.btn2:hover, .footer__nav__div2__more:hover, .section__div1__btn:hover {
  transition: 0.4s ease;
  background-color: white;
  color: #9C69E2;
}
.btn2:active, .footer__nav__div2__more:active, .section__div1__btn:active {
  transform: scale(0.94);
}

.gc, .footer__section__div3__child__grandchild5, .footer__section__div3__child__grandchild4, .footer__section__div3__child__grandchild3, .footer__section__div3__child__grandchild2, .footer__section__div3__child__grandchild1, .footer__section__div2__child__grandchild4, .footer__section__div2__child__grandchild3, .footer__section__div2__child__grandchild2, .footer__section__div2__child__grandchild1 {
  font-weight: 500;
  margin-top: 20px;
}

.child2, .footer__section__div4__child, .footer__section__div3__child, .footer__section__div2__child {
  font-weight: bold;
  position: relative;
  top: 12px;
}

.hover, .footer__section__div4__child__gc4:hover, .footer__section__div4__child__gc3:hover, .footer__section__div4__child__gc2:hover, .footer__img:hover {
  cursor: pointer;
  transition: 0.4s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

.active, .footer__section__div4__child__gc4:active, .footer__section__div4__child__gc3:active, .footer__section__div4__child__gc2:active, .footer__img:active {
  transform: scale(0.94);
}

.btn, .footer__nav__div2__demo, .head__nav__btn {
  width: 210px;
  height: 60px;
  cursor: pointer;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
.btn:hover, .footer__nav__div2__demo:hover, .head__nav__btn:hover {
  transition: 0.4s ease;
  background-color: #F063B8;
}
.btn:active, .footer__nav__div2__demo:active, .head__nav__btn:active {
  transform: scale(0.94);
}

.logo, .head__nav__logo {
  cursor: pointer;
  transition: transform 0.4s ease;
}

.head {
  -webkit-tap-highlight-color: transparent;
}
@media screen and (max-width: 500px) {
  .head {
    position: relative;
    left: 25px;
    margin-top: 20px;
    margin-bottom: 300px;
  }
}
.head__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.head__nav__desktop {
  position: relative;
  left: -150px;
}
@media screen and (max-width: 500px) {
  .head__nav__desktop {
    display: none;
  }
}
.head__nav__swiper {
  display: none;
}
@media screen and (max-width: 500px) {
  .head__nav__swiper__ul {
    position: relative;
    left: -15px;
    top: 25px;
  }
}
@media screen and (max-width: 500px) {
  .head__nav__swiper__ul__li {
    margin-top: 30px;
    font-size: 23px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 800;
  }
  .head__nav__swiper__ul__li a {
    color: white;
  }
}
.head__nav__swiper__ul__li:hover {
  font-weight: 800;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 20px;
  transition: 0.4s ease;
}
.head__nav__swiper__ul__li:hover a {
  color: #212353;
}
.head__nav__swiper__ul__li:active {
  transform: scale(0.94);
  font-weight: 800;
}
@media screen and (max-width: 500px) {
  .head__nav__swiper {
    display: flex;
    position: relative;
    top: 10px;
    left: -120px;
    height: 100%;
  }
}
.head__nav__btn {
  position: relative;
  left: 7%;
}
.head__nav__btn__logo {
  position: relative;
  top: 2px;
}
@media screen and (max-width: 500px) {
  .head__nav__btn {
    position: relative;
    left: -120px;
    width: 210px;
    height: 50px;
    top: 200px;
  }
}
.head__nav__logo:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .head__nav__logo {
    position: relative;
    left: 250px;
    top: 25px;
  }
}
.head__nav__ul {
  display: flex;
}
@media screen and (max-width: 500px) {
  .head__nav__ul {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -85px;
  }
}
.head__nav__ul__li {
  padding: 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
}
.head__nav__ul__li a {
  color: #4B5D68;
}
@media screen and (max-width: 500px) {
  .head__nav__ul__li {
    margin-top: 30px;
    font-size: 23px;
  }
}
.head__nav__ul__li:hover {
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 20px;
  transition: 0.4s ease;
}
.head__nav__ul__li:hover a {
  color: #212353;
}
.head__nav__ul__li:active {
  transform: scale(0.94);
}

.section {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 510px;
  height: 100px;
  margin-top: 30px;
}
@media screen and (max-width: 500px) {
  .section {
    margin-top: 170px;
    transform: translateX(-4px);
  }
}
.section__div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
  left: 840px;
}
@media screen and (max-width: 500px) {
  .section__div1 {
    position: relative;
    left: 840px;
  }
}
.section__div1__h1 {
  width: 645px;
  height: 184px;
  font-size: 80px;
  position: relative;
  top: 140px;
  line-height: 88px;
  left: 740px;
}
@media screen and (max-width: 500px) {
  .section__div1__h1 {
    position: relative;
    left: 640px;
    top: -20px;
    width: 300px;
    font-size: 40px;
    line-height: 52px;
  }
}
.section__div1__p {
  width: 380px;
  height: 120px;
  position: relative;
  top: 324px;
  left: 100px;
  font-size: 18px;
  line-height: 28.8px;
}
@media screen and (max-width: 500px) {
  .section__div1__p {
    width: 310px;
    position: relative;
    top: 90px;
    left: 340px;
    font-size: 20px;
    line-height: 30px;
  }
}
.section__div1__btn {
  position: relative;
  top: 444px;
  left: -285px;
}
@media screen and (max-width: 500px) {
  .section__div1__btn {
    width: 135px;
    position: relative;
    left: 110px;
    top: 480px;
    z-index: 2;
    height: 55px;
    font-size: 20px;
  }
}
.section__div1__img {
  width: 885px;
  height: 468px;
  position: relative;
  top: 336px;
  left: -80px;
  transition: transform 0.4s ease;
}
.section__div1__img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .section__div1__img {
    width: 340px;
    position: relative;
    left: -140px;
    top: 340px;
  }
}
.section__div2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 1100px;
  height: 560px;
  position: relative;
  top: 1000px;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  left: -505px;
  background: rgba(240, 99, 184, 0.15);
}
@media screen and (max-width: 500px) {
  .section__div2 {
    margin-top: 200px;
    position: relative;
    left: 215px;
    top: 1050px;
    height: 1000px;
  }
}
.section__div2__child {
  position: relative;
  top: 150px;
}
.section__div2__child__img {
  width: 477px;
  height: 504px;
  position: relative;
  left: 10px;
  top: 40px;
  transition: transform 0.4s ease;
}
.section__div2__child__img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .section__div2__child__img {
    width: 350px;
    position: relative;
    left: 135px;
    top: -50px;
  }
}
.section__div2__child__grandchild {
  position: relative;
  top: -30px;
}
.section__div2__child__grandchild__p {
  font-size: 40px;
  line-height: 52px;
  position: relative;
  width: 485px;
  height: 100px;
  top: -400px;
  color: #212353;
  font-weight: bold;
  left: 550px;
}
@media screen and (max-width: 500px) {
  .section__div2__child__grandchild__p {
    position: relative;
    left: 210px;
    width: 280px;
    top: -700px;
  }
}
.section__div2__child__grandchild__p2 {
  width: 474px;
  height: 170px;
  font-size: 18px;
  position: relative;
  top: -400px;
  left: 550px;
  color: #4B5D68;
  font-weight: bold;
  line-height: 28.8px;
}
@media screen and (max-width: 500px) {
  .section__div2__child__grandchild__p2 {
    position: relative;
    top: -230px;
    width: 300px;
    left: 180px;
  }
}
.section .box, .section .section__div3__boxes__box4, .section .section__div3__boxes__box3, .section .section__div3__boxes__box2, .section .section__div3__boxes__box1 {
  position: relative;
  top: 200px;
}
.section .child, .section .section__div3__boxes__box4__child, .section .section__div3__boxes__box3__child, .section .section__div3__boxes__box2__child, .section .section__div3__boxes__box1__child {
  height: 0px;
  width: 442px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 50px;
  border-left: 70px solid transparent;
  border-right: 0px solid transparent;
}
.section .learn-more, .section .section__div3__boxes__box4__child__grandchild3, .section .section__div3__boxes__box3__child__grandchild3, .section .section__div3__boxes__box2__child__grandchild3, .section .section__div3__boxes__box1__child__grandchild3 {
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
.section .learn-more:hover, .section .section__div3__boxes__box4__child__grandchild3:hover, .section .section__div3__boxes__box3__child__grandchild3:hover, .section .section__div3__boxes__box2__child__grandchild3:hover, .section .section__div3__boxes__box1__child__grandchild3:hover {
  transition: 0.4s ease;
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.section .learn-more:active, .section .section__div3__boxes__box4__child__grandchild3:active, .section .section__div3__boxes__box3__child__grandchild3:active, .section .section__div3__boxes__box2__child__grandchild3:active, .section .section__div3__boxes__box1__child__grandchild3:active {
  transform: scale(0.94);
}
.section__div3 {
  position: relative;
  left: -2100px;
  top: 1800px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .section__div3 {
    position: relative;
    left: -1595px;
    top: 2100px;
  }
}
.section__div3__h1 {
  font-size: 40px;
}
.section__div3__p {
  width: 584px;
  line-height: 28.8px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .section__div3__p {
    width: 300px;
    position: relative;
  }
}
.section__div3__boxes {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 520px;
}
.section__div3__boxes__box1 {
  margin-right: 300px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box1 {
    position: relative;
    transform: translateY(-100px);
    left: 380px;
  }
}
.section__div3__boxes__box1__img {
  position: relative;
  left: -60px;
  z-index: 2;
  transition: transform 0.4s ease;
}
.section__div3__boxes__box1__img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box1__img {
    position: relative;
    left: -40px;
    width: 120px;
    top: 40px;
  }
}
.section__div3__boxes__box1__child {
  border-bottom: 358px solid rgba(104, 201, 186, 0.15);
  position: relative;
  left: 30px;
  top: -300px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box1__child {
    position: relative;
    width: 322px;
    left: -50px;
    top: -190px;
    border-left: 40px solid transparent;
    border-right: 0px solid transparent;
  }
}
.section__div3__boxes__box1__child__grandchild1 {
  font-size: 24px;
  position: relative;
  top: 50px;
  left: 100px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box1__child__grandchild1 {
    position: relative;
    left: 70px;
    top: 40px;
  }
}
.section__div3__boxes__box1__child__grandchild2 {
  position: relative;
  top: 60px;
  left: 100px;
  width: 200px;
  line-height: 25px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box1__child__grandchild2 {
    position: relative;
    left: 70px;
    top: 40px;
    width: 180px;
  }
}
.section__div3__boxes__box1__child__grandchild3 {
  position: relative;
  top: -40px;
  left: 90px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box1__child__grandchild3 {
    position: relative;
    top: -40px;
    left: 60px;
  }
}
.section__div3__boxes__box1__child__grandchild4 {
  position: relative;
  top: -220px;
  left: 14px;
  opacity: 0.3;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box1__child__grandchild4 {
    position: relative;
    top: -220px;
    left: -60px;
  }
}
.section__div3__boxes__box1__child__grandchild5 {
  position: relative;
  top: -320px;
  left: 240px;
  opacity: 0.3;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box1__child__grandchild5 {
    position: relative;
    left: 170px;
    top: -320px;
  }
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box2 {
    position: relative;
    transform: translateY(300px);
    left: -110px;
  }
}
.section__div3__boxes__box2__img {
  position: relative;
  left: -230px;
  top: -10px;
  z-index: 2;
  transition: transform 0.4s ease;
}
.section__div3__boxes__box2__img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box2__img {
    position: relative;
    left: -300px;
    width: 120px;
    top: 40px;
  }
}
.section__div3__boxes__box2__child {
  border-bottom: 358px solid rgba(156, 105, 226, 0.15);
  position: relative;
  left: -110px;
  top: -270px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box2__child {
    position: relative;
    width: 322px;
    left: -300px;
    top: -190px;
    border-left: 40px solid transparent;
    border-right: 0px solid transparent;
  }
}
.section__div3__boxes__box2__child__grandchild1 {
  font-size: 24px;
  position: relative;
  top: 45px;
  left: 70px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box2__child__grandchild1 {
    position: relative;
    left: 70px;
    top: 40px;
  }
}
.section__div3__boxes__box2__child__grandchild2 {
  position: relative;
  top: 55px;
  left: 70px;
  width: 200px;
  line-height: 25px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box2__child__grandchild2 {
    position: relative;
    left: 70px;
    top: 50px;
    width: 180px;
  }
}
.section__div3__boxes__box2__child__grandchild3 {
  position: relative;
  top: -40px;
  left: 60px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box2__child__grandchild3 {
    position: relative;
    top: -30px;
    left: 60px;
  }
}
.section__div3__boxes__box2__child__grandchild4 {
  position: relative;
  top: -200px;
  left: -34px;
  opacity: 0.3;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box2__child__grandchild4 {
    position: relative;
    top: -170px;
    left: -80px;
  }
}
.section__div3__boxes__box3 {
  position: relative;
  transform: translateY(450px);
  left: -1050px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box3 {
    position: relative;
    left: -810px;
    transform: translateY(690px);
  }
}
.section__div3__boxes__box3__img {
  position: relative;
  left: -210px;
  top: 20px;
  z-index: 2;
  transition: transform 0.4s ease;
}
.section__div3__boxes__box3__img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box3__img {
    position: relative;
    left: -45px;
    width: 120px;
    top: 40px;
  }
}
.section__div3__boxes__box3__child {
  border-bottom: 358px solid rgba(240, 99, 184, 0.15);
  position: relative;
  left: -110px;
  top: -270px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box3__child {
    position: relative;
    width: 322px;
    left: -40px;
    top: -190px;
    border-left: 40px solid transparent;
    border-right: 0px solid transparent;
  }
}
.section__div3__boxes__box3__child__grandchild1 {
  font-size: 24px;
  position: relative;
  top: 45px;
  left: 100px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box3__child__grandchild1 {
    position: relative;
    left: 70px;
    top: 40px;
  }
}
.section__div3__boxes__box3__child__grandchild2 {
  position: relative;
  top: 75px;
  left: 100px;
  width: 200px;
  line-height: 28px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box3__child__grandchild2 {
    position: relative;
    left: 70px;
    top: 40px;
    width: 180px;
  }
}
.section__div3__boxes__box3__child__grandchild3 {
  position: relative;
  top: 90px;
  left: 90px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box3__child__grandchild3 {
    position: relative;
    top: 50px;
    left: 60px;
  }
}
.section__div3__boxes__box3__child__grandchild4 {
  position: relative;
  top: -130px;
  left: 114px;
  opacity: 0.3;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box3__child__grandchild4 {
    position: relative;
    top: -180px;
    left: 50px;
  }
}
.section__div3__boxes__box4 {
  position: relative;
  left: -885px;
  transform: translateY(430px);
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box4 {
    position: relative;
    transform: translateY(300px);
    left: -110px;
  }
}
.section__div3__boxes__box4__img {
  position: relative;
  left: -230px;
  top: 30px;
  z-index: 2;
  transition: transform 0.4s ease;
}
.section__div3__boxes__box4__img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box4__img {
    position: relative;
    left: -300px;
    width: 120px;
    top: 40px;
  }
}
.section__div3__boxes__box4__child {
  border-bottom: 358px solid rgba(33, 35, 83, 0.15);
  position: relative;
  left: -110px;
  top: -270px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box4__child {
    position: relative;
    width: 322px;
    left: -40px;
    top: -190px;
    border-left: 40px solid transparent;
    border-right: 0px solid transparent;
  }
}
.section__div3__boxes__box4__child__grandchild1 {
  font-size: 24px;
  position: relative;
  top: 45px;
  left: 70px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box4__child__grandchild1 {
    position: relative;
    left: 90px;
    top: 40px;
  }
}
.section__div3__boxes__box4__child__grandchild2 {
  position: relative;
  top: 55px;
  left: 70px;
  width: 200px;
  line-height: 25px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box4__child__grandchild2 {
    position: relative;
    left: 90px;
    top: 40px;
    width: 180px;
  }
}
.section__div3__boxes__box4__child__grandchild3 {
  position: relative;
  top: 60px;
  left: 60px;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box4__child__grandchild3 {
    position: relative;
    top: 50px;
    left: 80px;
  }
}
.section__div3__boxes__box4__child__grandchild4 {
  position: relative;
  top: -250px;
  left: 44px;
  opacity: 0.2;
}
@media screen and (max-width: 500px) {
  .section__div3__boxes__box4__child__grandchild4 {
    position: relative;
    top: -260px;
    left: 50px;
  }
}

.testimonials {
  display: flex;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .testimonials {
    margin-top: 700px;
  }
}

.article {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  border-radius: 50px;
  background: rgb(156, 105, 226);
  width: 1118px;
  height: 709px;
  top: 2700px;
}
.article__h1 {
  color: white;
  position: relative;
  top: 100px;
  left: 420px;
  font-size: 40px;
}
.article__swiper {
  position: relative;
  top: 260px;
  left: -250px;
}

.swiper {
  border-radius: 10px;
  width: 1500px;
  height: 400px;
}

.swiper-slide {
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
  width: 60%;
}

.swiper-slide img {
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.4s ease;
}
.swiper-slide img:hover {
  transform: scale(1.1);
}

.slide, .slide3, .slide2, .slide1 {
  width: 400px;
  height: 330px;
}

.slide1 {
  width: 645px;
}

@media screen and (max-width: 500px) {
  .swiper2 {
    position: fixed;
    width: 300px;
    height: 10px;
    margin-top: -20px;
    transform: translateX(-60px);
    z-index: 3;
  }
}

.menu {
  width: 200px;
  position: relative;
  left: 20px;
  height: 400px;
  background-color: #9C69E2;
  color: #fff;
}

.content {
  width: 100%;
}

.menu-button {
  position: absolute;
  top: 0px;
  border-radius: 10px;
  left: 50px;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #F063B8;
}

.menu-button .bar:nth-of-type(1) {
  margin-top: 0px;
}

.menu-button .bar:nth-of-type(3) {
  margin-bottom: 0px;
}

.bar {
  position: relative;
  display: block;
  width: 50px;
  height: 5px;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.3s;
}

.menu-button:hover .bar:nth-of-type(1) {
  transform: translateY(1.5px) rotate(-4.5deg);
}

.menu-button:hover .bar:nth-of-type(2) {
  opacity: 0.9;
}

.menu-button:hover .bar:nth-of-type(3) {
  transform: translateY(-1.5px) rotate(4.5deg);
}

.cross .bar:nth-of-type(1) {
  transform: translateY(15px) rotate(-45deg);
}

.cross .bar:nth-of-type(2) {
  opacity: 0;
}

.cross .bar:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}

.cross:hover .bar:nth-of-type(1) {
  transform: translateY(13.5px) rotate(-40.5deg);
}

.cross:hover .bar:nth-of-type(2) {
  opacity: 0.1;
}

.cross:hover .bar:nth-of-type(3) {
  transform: translateY(-13.5px) rotate(40.5deg);
}

.footer {
  position: relative;
  top: 3000px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.3);
  background: linear-gradient(rgba(104, 201, 186, 0.2), rgba(240, 99, 184, 0.5));
}
.footer__img {
  position: relative;
  left: 1350px;
  top: -50px;
}
.footer__section {
  display: flex;
  justify-content: space-evenly;
}
.footer__section__div1__child__grandchild1 {
  cursor: pointer;
  transition: transform 0.4s ease;
}
.footer__section__div1__child__grandchild1:hover {
  transform: scale(1.1);
}
.footer__section__div1__child__grandchild2 {
  display: inline;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: -10px;
  left: 15px;
}
.footer__section__div1__child2 {
  margin-top: 50px;
}
.footer__section__div1__child2__p {
  line-height: 28.8px;
  width: 260px;
  font-weight: bold;
  opacity: 0.7;
  margin-bottom: 20px;
}
.footer__section__div1__child2__p2 {
  line-height: 28.8px;
  width: 180px;
  margin-bottom: 200px;
}
.footer__section__div1__child2__p3 {
  width: 350px;
}
.footer__section__div2__child__grandchild1 {
  margin-top: 65px;
}
.footer__section__div3__child__grandchild1 {
  margin-top: 65px;
}
.footer__section__div4__child__gc {
  font-weight: bold;
  margin-bottom: 65px;
}
.footer__nav {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 200px;
}
.footer__nav__div1 {
  margin-right: 260px;
}
.footer__nav__div1__h1 {
  font-size: 40px;
}
.footer__nav__div1__p {
  font-weight: 500;
  opacity: 0.8;
}
.footer__nav__div2__more {
  position: relative;
  top: 10px;
}
.footer__nav__div2__demo {
  margin-left: 40px;
  position: relative;
  top: 12px;
}
.footer__nav__div2__demo__logo {
  position: relative;
  top: 2px;
}/*# sourceMappingURL=style.css.map */