.head{
    -webkit-tap-highlight-color: transparent;
    @include small-screen{
        position: relative;
        left: 25px;
        margin-top: 20px;
        margin-bottom: 300px;
    }
    &__nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        &__desktop{
            position: relative;
            left: -150px;
            @include small-screen{
                display: none;
            }
        }
        &__swiper{
            display: none;
            &__ul{
                @include small-screen{
                    position: relative;
                    left: -15px;
                    top: 25px;
                }
                &__li{
                @include small-screen{
                    margin-top: 30px;
                    font-size: 23px;
                    padding: 10px;
                    border-radius: 20px;
                    font-weight: 800;
                    a{color: white};
                }
                &:hover{
                    font-weight: 800;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
                    padding: 10px;
                    border-radius: 20px;
                    transition: .4s ease;
                    a{color:$blue;}
                }
                &:active{
                    transform: scale(.94);
                    font-weight: 800;
                }
                }
            }
            @include small-screen{
                display: flex;
                position: relative;
                top: 10px;
                left: -120px;
                height: 100%;
            }
        }
        // &__menu{
        //     display: none;
        //     @include small-screen{
        //         display: flex;
        //         position: absolute;
        //         align-items: center;
        //         left: 270px;
        //         top: 10px;
        //         cursor: pointer;
        //         width: 70px;
        //         transition: transform .4s ease;
        //     }
        //     &:hover{
        //         transform: scale(1.1);
        //     }
        // }
        &__btn{
            @extend .btn;
            position: relative;
            left: 7%;
            &__logo{
                position: relative;
                top: 2px;
            }
            @include small-screen{
                position: relative;
                left: -120px;
                width: 210px;
                height: 50px;
                top: 200px;
            }
        }
        &__logo{
            @extend .logo;
            &:hover{
                transform: scale(1.1);
            }
            @include small-screen{
                position: relative;
                left: -5px;
                top: 105px;
            }
        }
        &__ul{
            display: flex;

            @include small-screen{
                display: flex;
                flex-direction: column;
                position: relative;
                left: -85px;
                // margin-top: -500px;
            }
            // .mobile{
            //     margin-top: 0px;
            // }
            &__li{
                padding: 15px;
                border-radius: 20px;
                font-weight: bold;
                font-size: 16px;
                a{color:$gray};
                @include small-screen{
                    margin-top: 30px;
                    font-size: 23px;
                }
                &:hover{
                    font-weight: bold;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
                    padding: 15px;
                    border-radius: 20px;
                    transition: .4s ease;
                    a{color:$blue;}
                }
                &:active{
                    transform: scale(.94);
                }
            }
        }
    }
}