.article{
    display: flex;
    justify-content: center;
    position: relative;
    left: 200px;
    height: 100%;
    border-radius: 50px;
    background: rgb(156, 105, 226);
    width: 1118px;
    height: 709px;
    position: relative;
    top: 2700px;
    &__h1{
        color: white;
        position: relative;
        top: 100px;
        left: 420px;
        font-size: 40px;
    }
    &__swiper{
        position: relative;
        top: 260px;
        left: -250px;
    }
}
.swiper {
    border-radius: 10px;
    width: 1500px;
    height: 400px;
  }

  .swiper-slide {
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
  }

  .swiper-slide img {
    cursor: pointer;
    border-radius: 30px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 60%;
  }
  .slide{
    width: 400px;
    height: 330px;
  }
  .slide1{
    @extend .slide;
    width: 645px;
  }
  .slide2{
    @extend .slide;
  }
  .slide3{
    @extend .slide;
  }