.head{
    -webkit-tap-highlight-color: transparent;
    @include small-screen{
        position: relative;
        left: 25px;
        margin-top: 20px;
        margin-bottom: 300px;
    }
    &__nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        &__menu{
            display: none;
            @include small-screen{
                display: flex;
                position: absolute;
                align-items: center;
                left: 270px;
                top: 10px;
                cursor: pointer;
                width: 70px;
                transition: transform .4s ease;
            }
            &:hover{
                transform: scale(1.1);
            }
        }
        &__btn{
            width: 210px;
            height: 60px;
            cursor: pointer;
            font-weight: bold;
            background-color: white;
            border: none;
            border-radius: 30px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
            margin-top: 15px;
            &__logo{
                position: relative;
                top: 2px;
            }
            &:hover{
                transition: 0.4s ease;
                background-color: $pink;
            }
            &:active{
                transform: scale(.94);
            }
            @include small-screen{
                position: relative;
                left: -115px;
                width: 180px;
                height: 40px;
                top: 220px;
            }
        }
        &__logo{
            cursor: pointer;
            transition: transform .4s ease;
            &:hover{
                transform: scale(1.1);
            }
            @include small-screen{
                position: relative;
                left: -40px;
                top: -140px;
            }
        }
        &__ul{
            display: flex;
            position: relative;
            left: -10%;
            @include small-screen{
                display: flex;
                flex-direction: column;
                position: relative;
                left: -85px;
                margin-top: -500px;
            }
            .mobile{
                margin-top: 0px;
            }
            &__li{
                padding: 15px;
                border-radius: 20px;
                font-weight: bold;
                font-size: 16px;
                a{color:$gray};
                @include small-screen{
                    margin-top: 30px;
                    font-size: 23px;
                }
                &:hover{
                    font-weight: bold;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
                    padding: 15px;
                    border-radius: 20px;
                    transition: .4s ease;
                    a{color:$blue;}
                }
                &:active{
                    transform: scale(.94);
                }
            }
        }
    }
}