.section{
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 510px;
    height: 100px;
    margin-top: 30px;
    @include small-screen{
        margin-top: 170px;
        transform: translateX(-4px);
    }
    &__div1{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100px;
        left: 300px;
        &__h1{
            width: 645px;
            height: 184px;
            font-size: 80px;
            position: relative;
            top: 140px;
            line-height: 88px;
            left: 740px;
            @include small-screen{
                position: relative;
                left: 630px;
                top: -20px;
                width: 300px;
                font-size: 40px;
                line-height: 52px;
            }
        }
        &__p{
            width: 380px;
            height: 120px;
            position: relative;
            top: 324px;
            left: 100px;
            font-size: 18px;
            line-height: 28.8px;
            @include small-screen{
                width: 370px;
                position: relative;
                top: 70px;
                left: 330px;
                font-size: 20px;
                line-height: 30px;
            }
        }
        &__btn{
            width: 170px;
            height: 60px;
            position: relative;
            top: 444px;
            left: -285px;
            border-radius: 50px;
            font-weight: bold;
            background-color: $purple;
            color: white;
            border: none;
            box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
            cursor: pointer;
            text-align: center;
            @include small-screen{
                width: 135px;
                position: relative;
                left: 80px;
                top: 400px;
                z-index: 2;
                height: 55px;
                font-size: 20px;
            }
            &:hover{
                transition: 0.4s ease;
                background-color: white;
                color: $purple;
            }
            &:active{
                transform: scale(.94);
            }
        }
        &__img{
            width: 885px;
            height: 468px;
            position: relative;
            top: 336px;
            left: -80px;
            transition: transform .4s ease;
            &:hover{
                transform: scale(1.1);
            }
            @include small-screen{
                width: 350px;
                position: relative;
                left: -170px;
                top: 260px;
            }
        }
    }
    &__div2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-width: 1100px;
        height: 560px;
        position: relative;
        top: 1000px;
        border-radius: 50px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
        left: -1045px;
        background: rgba(240, 99, 184, 0.15);
        transition: transform .4s ease;
            &:hover{
                transform: scale(1.1);
            }
        @include small-screen{
            position: relative;
            left: -330px;
            top: 900px;
            height: 800px;
        }
        &__child{
            position: relative;
            top: 150px;
            &__img{
                width: 477px;
                height: 504px;
                position: relative;
                left: 10px;
                top: 40px;
                @include small-screen{
                    width: 450px;
                    position: relative;
                    left: 35px;
                    top: -50px;
                }
            }
            &__grandchild{
                position: relative;
                top: -30px;
                &__p{
                    font-size: 40px;
                    line-height: 52px;
                    position: relative;
                    width: 485px;
                    height: 100px;
                    top: -400px;
                    color: $blue;
                    font-weight: bold;
                    left: 550px;
                    @include small-screen{
                        position: relative;
                        left: 100px;
                        width: 390px;
                        top: -600px;
                    }
                }
                &__p2{
                    width: 474px;
                    height: 170px;
                    font-size: 18px;
                    position: relative;
                    top: -400px;
                    left: 550px;
                    color: $gray;
                    font-weight: bold;
                    line-height: 28.8px;
                    @include small-screen{
                        position: relative;
                        top: -220px;
                        width: 370px;
                        left: 100px;
                    }
                }
            }
        }
    }
    .box{
        position: relative;
        top: 200px;
    }
    &__div3{
        position: relative;
        left: -2100px;
        top: 1800px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include small-screen{
            position: relative;
            left:-1632px;
            top: 1750px;
        }
        &__h1{
            font-size: 40px;
        }
        &__p{
            width: 584px;
            line-height: 28.8px;
            text-align: center;
            @include small-screen{
                width: 390px;
            }
        }
        &__boxes{
            display: flex;
            justify-content: space-between;
            &__box1{
                margin-right: 300px;
                transition: transform .4s ease;
                &:hover{
                    transform: scale(1.1);
                }
                @extend .box;
                @include small-screen{
                    position: relative;
                    transform: translateY(-100px);
                    left: 300px;
                }
                &__img{
                    position: relative;
                    left: -60px;
                    z-index: 2;
                    @include small-screen{
                        position: relative;
                        left: -10px;
                        width: 160px;
                    }
                }
                &__child{
                    height: 0px; 
                    width: 442px;
                    position: relative;
                    left: 30px;
                    top: -300px;
                    border-bottom-left-radius: 30px;
                    border-bottom-right-radius: 50px;
                    border-bottom: 358px solid rgba(104, 201, 186,0.15);
                    border-left: 70px solid transparent;
                    border-right: 0px solid transparent;
                    @include small-screen{
                        position: relative;
                        left: -20px;
                        top: -250px;
                    }
                    &__grandchild1{
                        font-size: 24px;
                        position: relative;
                        top: 50px;
                        left: 100px;
                    }
                    &__grandchild2{
                        position: relative;
                        top: 60px;
                        left: 100px;
                        width: 200px;
                        line-height: 25px;
                    }
                    &__grandchild3{
                        position: relative;
                        top: -40px;
                        left: 90px;
                        padding: 5px 10px;
                        cursor: pointer;
                        &:hover{
                            transition: 0.4s ease;
                            border-radius: 20px;
                            padding: 5px 10px;
                            box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1) ;
                        }
                    }
                    &__grandchild4{
                        position: relative;
                        top: -220px;
                        left: 14px;
                        opacity: 0.3;
                    }
                    &__grandchild5{
                        position: relative;
                        top: -320px;
                        left: 240px;
                        opacity: 0.3;
                    }
                }
            }
            &__box2{
                @extend .box;
                transition: transform .4s ease;
                &:hover{
                    transform: scale(1.1);
                }
                @include small-screen{
                    position: relative;
                    transform: translateY(300px);
                    left: -110px;
                }
                &__img{
                    position: relative;
                    left: -230px;
                }
            }
        }
    }
}