@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Muli:400,800&display=swap");

$gray:#4B5D68;
$blue:#212353;
$purple:#9C69E2;
$pink:#F063B8;
$lightgreen:#68C9BA;

@mixin small-screen {
    @media screen and (max-width: 500px) {
      @content;
    }
  }  


*{
    list-style-type: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Muli",sans-serif;
}

html,body{
    @include small-screen{
        overflow-x: hidden;
        height: 100%;
    }
}

body{
    background: linear-gradient(white,$purple);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

@import "./head";

@import "./section";